<div class="pure-g-r title-section">
	<div class="pure-u-1-5"></div>
	<div class="pure-u-3-5 title">{{category}}</div>
	<div class="pure-u-1-5"></div>
</div>

<div id="alphabet" class="alphabet pure-menu pure-menu-open pure-menu-horizontal">
	<ul class="letters">
		<li class="alph pure-menu-selected"><a href="#" data-letter="A" data-category="{{category}}">A</a></li>
		<li class="alph"><a href="#" data-letter="B" data-category="{{category}}">B</a></li>
		<li class="alph"><a href="#" data-letter="C" data-category="{{category}}">C</a></li>
		<li class="alph"><a href="#" data-letter="D" data-category="{{category}}">D</a></li>
		<li class="alph"><a href="#" data-letter="E" data-category="{{category}}">E</a></li>
		<li class="alph"><a href="#" data-letter="F" data-category="{{category}}">F</a></li>
		<li class="alph"><a href="#" data-letter="G" data-category="{{category}}">G</a></li>
		<li class="alph"><a href="#" data-letter="H" data-category="{{category}}">H</a></li>
		<li class="alph"><a href="#" data-letter="I" data-category="{{category}}">I</a></li>
		<li class="alph"><a href="#" data-letter="J" data-category="{{category}}">J</a></li>
		<li class="alph"><a href="#" data-letter="K" data-category="{{category}}">K</a></li>
		<li class="alph"><a href="#" data-letter="L" data-category="{{category}}">L</a></li>
		<li class="alph"><a href="#" data-letter="M" data-category="{{category}}">M</a></li>
		<li class="alph"><a href="#" data-letter="N" data-category="{{category}}">N</a></li>
		<li class="alph"><a href="#" data-letter="O" data-category="{{category}}">O</a></li>
		<li class="alph"><a href="#" data-letter="P" data-category="{{category}}">P</a></li>
		<li class="alph"><a href="#" data-letter="Q" data-category="{{category}}">Q</a></li>
		<li class="alph"><a href="#" data-letter="R" data-category="{{category}}">R</a></li>
		<li class="alph"><a href="#" data-letter="S" data-category="{{category}}">S</a></li>
		<li class="alph"><a href="#" data-letter="T" data-category="{{category}}">T</a></li>
		<li class="alph"><a href="#" data-letter="U" data-category="{{category}}">U</a></li>
		<li class="alph"><a href="#" data-letter="V" data-category="{{category}}">V</a></li>
		<li class="alph"><a href="#" data-letter="W" data-category="{{category}}">W</a></li>
		<li class="alph"><a href="#" data-letter="X" data-category="{{category}}">X</a></li>
		<li class="alph"><a href="#" data-letter="Y" data-category="{{category}}">Y</a></li>
		<li class="alph"><a href="#" data-letter="Z" data-category="{{category}}">Z</a></li>
	</ul>
</div>

<div class="pure-g-r words-section">
	<div class="pure-u-1-3 list">
		<ul class="listed" data-letter="A">
			{{#each vids.a}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="B">
			{{#each vids.b}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="C">
			{{#each vids.c}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="D">
			{{#each vids.d}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="E">
			{{#each vids.e}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="F">
			{{#each vids.f}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="G">
			{{#each vids.g}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="H">
			{{#each vids.h}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="I">
			{{#each vids.i}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="J">
			{{#each vids.j}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="K">
			{{#each vids.k}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="L">
			{{#each vids.l}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="M">
			{{#each vids.m}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="N">
			{{#each vids.n}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="O">
			{{#each vids.o}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="P">
			{{#each vids.p}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="Q">
			{{#each vids.q}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="R">
			{{#each vids.r}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="S">
			{{#each vids.s}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="T">
			{{#each vids.t}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="U">
			{{#each vids.u}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="V">
			{{#each vids.v}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="W">
			{{#each vids.w}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="X">
			{{#each vids.x}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="Y">
			{{#each vids.y}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
		<ul class="nolist" data-letter="Z">
			{{#each vids.z}}
			<li class="word"><a href="#" data-word="{{word}}">{{word}}</a></li>
			{{/each}}
		</ul>
	</div>
	<div class="pure-u-2-3 videos">
		{{#each vids.a}}
		<div id="{{word}}" class="word-vid">
			<div class="word-title">{{word}}</div>
			<div class="word-video"><video src="{{url}}" controls></video></div>
		</div>
		{{/each}}
	</div>
</div>